@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
  font-size: 16px;
  padding: 0;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #caf0f8;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  height: 60px; /* Fixed height */
  z-index: 1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: #023e8a;
  color: white;
}

.nav-items-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-quiz-button {
  color: #023047;
  background-color: #ffb703;
  text-decoration: none;
  margin: 0 1em;
}

.logo {
  font-family: 'Poppins', sans-serif; /* Change to your preferred font */
  font-size: 2rem; /* Adjust size */
  font-weight: 700;
  color: #333; /* Dark color */
  text-transform: uppercase;
  letter-spacing: 1.5px; /* Adds spacing between letters */
  display: inline-block;
  background: linear-gradient(
    135deg,
    #ff8a00,
    #e52e71
  ); /* Gradient background */
  -webkit-background-clip: text; /* Clips background to text */
  -webkit-text-fill-color: transparent; /* Makes text take gradient color */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .logo {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .logo {
    font-size: 1.2rem;
    letter-spacing: 1px;
  }
}

.content {
  flex: 1;
  margin-top: 75px; /* Prevent content from going under header */
  margin-bottom: 50px; /* Prevent content from going under footer */
  padding: 25px 20px;
  overflow-y: auto; /* Enable scrolling if needed */
  height: 100vh;
}

.footer {
  background: #8ecae6;
  color: #023047;
  padding: 15px;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: auto; /* Fixed height */
  box-sizing: border-box; /* Ensures padding doesn't affect width */
  flex-shrink: 0; /* Prevents footer from shrinking */
}
